@page "{quizId}/{userId}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<H3>@ViewData["Title"]</H3>
<h1>Summary</h1>
<h3>Gratulacje! ukonczyłeś quiz</h3>
<h3>Twój wynik to: @Model.correctAnswers/@Model.q.Items.Count</h3>